<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flag Priming - Sign Up</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">

</head>
<body>
<nav class="navbar navbar-light bg-light" id="header">
    <% include header.ejs %>
</nav>
    <div class="appContainer">
        <div class="container">
            <p>Der Username oder das Passwort sind falsch!</p>
            <a href="/login"> Zurück zur Login-Seite</a>
        </div>
    </div>

</body>