<footer class="page-footer font-small blue pt-4 myFooter">
    <div class="container">
        <div class="row" style="margin-bottom: 10px; text-align: center; display: inline-flex;">
            <div class="footer-copyright text-center footerContainer" style="height: 32px;"><a href="#">Impressum</a>
            </div>
            <div class="footerContainer">
                <a href="https://reactjs.org/">
                    <img src="../images/logos/reactLogo.png" alt="" style="height: 32px; padding-bottom: 2px;">
                </a>
            </div>
            <div class="footerContainer">
                <a href="https://nodejs.org/en/">
                    <img src="../images/logos/nodejsLogo.svg" alt="" style="height: 32px;">
                </a>
            </div>
        </div>



    </div>


</footer>