<!-- views/partials/header.ejs -->

<nav class="navbar navbar-light bg-light" id="header">

    <div id="logoContainer">
        <img src="../images/uni_Logo_2016.jpg" id="headerLogo" alt=""/>
    </div>
    <div>
        <p>Willkommen zum Fragebogen über Flag Priming und Tax Compliance!</p>
    </div>
</nav>


