<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flag Priming - Login</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/style.css">

</head>
<body>
<% include header.ejs %>

<div class="appContainer">
    <form action="login" method="post">
        <div class="container">
            <div>
                <p>Während der Testphase ist nur ein eingeschränkter Betrieb möglich. Neue Registrierungen können temporär eingestellt werden. </p>
            </div>
            <div class="col-xs-2">
                <label for="username">Username:</label>
            </div>
            <div class="col-x-10">
                <input type="text" name="username" id="username">

            </div>
            <div class="col-xs-2">
                <label for="password">Password:</label>

            </div>
            <div class="col-x-10">
                <input type="password" name="password" id="password">
            </div>
            <hr>
            <div>
                <button class="btn continueButton" type="submit" id="login" style="margin-top: 20px;"> Anmelden </button>
            </div>

        </div>

    </form>
</div>

</body>
</html>