<!-- views/partials/header.ejs -->

<nav class="navbar navbar-light bg-light" id="header">

    <div id="logoContainer">
        <img src="../images/uni_Logo_2016.jpg" id="headerLogo" alt=""/>
    </div>
    <div>
        <a href="/backend">Login</a>
    </div>
</nav>

<div class="site-container">


