<head>
    <%include head.ejs %>
    <title> Gouda - <%= siteTitle %></title>
</head>
<body>
<%include header.ejs %>


<h1> Welcome to Gouda! 🧀 </h1>
<h2> Core Concepts</h2>
<p>
    Gouda is an interactive tool for questionaires and studies. Lorem Ipsum Dolor Sit Amet.
</p>

<% include footer.ejs %>
